body{
    font-family: "Marker Felt", "Geneva", "Sans-serif";
    color: #000000
    }
h1 {
    font-size: 2em;
    text-align: center;
    background-color: #eee8aa;
    }
ul {
    list-style-type: none;
    text-align: center;
    background-color: #808080;
    font-size: 1.5em
    }
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
      }
